.card {
    display: flex;
    height: 300px;
    color:var(--main-violet);
    border-radius: 10px;

    &__image-container {
        border-radius: 10px;
        width: 100%;
        background-color: var(--main-grey);
        cursor: pointer;
        &:hover{
            background-color: var(--main-yellow);
        }
    }

    &__image {
        object-fit: contain;
        width: 100%;
        height: 250px;

    }

    &__heading{
        font-size: 14px;

    }

    &__content {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0.4rem;
        flex-direction: column;
        gap: 0.4rem;
        .card__headingfav{

            display: flex;  

            // .card__fav{

            // }
    
            .card__heading{
                margin-right: auto;
            }
        }

    }

    &__footer {
        text-align: center;
    }

    &__article{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 7px 7px;



    }
    @media(min-width:1200px){
        
    
        &__image{
            height: 200px;
        }
    
        &__content{
            height: 100px;
            overflow: hidden;
        }
    
    }
    
    
    @media(max-width:1199px) and (min-width:992px){
    
        /* Cards en escritorio mediano */
        
        height: 350px;
        
    
        &__image{
            height: 250px;
        }
    
        &__content{
            height: 100px;
            overflow: hidden;
        }
    
    
    }
    

    @media(max-width:991px) and (min-width:768px){
    

        &__image{
            height: 200px;
        }
    
        &__content{
            height: 150px;
            overflow: hidden;
        }
    
    }

    @media(max-width:767px){

    
        height: 500px;
        &__image{
            height: 400px;
        }
        &__content{
            height: 100px;
        }
    
    }
    

    /*=============================================
PANTALLA DE ESCRITORIO GRANDE 
=============================================*/

@media(min-width:1200px){
	width: 20%;
}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO 
=============================================*/

@media(max-width:1199px) and (min-width:1400px){
    width: 20%;
}

@media(max-width:1399px) and (min-width:992px){
    width: 25%;
}

/*=============================================
PANTALLA DE TABLET - SMALL 
=============================================*/

@media(max-width:991px) and (min-width:768px){
    width: 50%;
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL 
=============================================*/

@media(max-width:767px){
    width: 100%;
}

    


}