footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: var(--main-grey);
    padding-top: 10px;
    margin-top: 50px;

    @media(max-width:991px){

        height: 400px;

    }

    @media(min-width:991px){
        height: 100px;
    }

    .footer-subtitle{
        text-align: center;
        font-size: 15px;
        color: var(--main-rustyred);
        font-weight: bold;
    }

    .footer-row{
        display: flex;

        @media(min-width:991px){
            flex-direction: row;
        }
        @media(max-width:991px){
            flex-direction: column;
        }
        
        .footer-column{


            @media(max-width:991px){

                height: 100px;
            }
            ul{
                list-style:none;

                li{
                    text-align: center;
                    cursor: pointer;
                    color: var(--main-violet);
                    font-size: 12px;

                    &:hover{
                        color: var(--main-black);
                    }
                }
            }
        }
    }


}