.nosotros{
    margin: 50px 10px;

    &-article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dotted #d72323;
        margin-top: 10px;
        margin-bottom: 30px;

        &__title{
            text-align: center;
            width: 100%;
            margin: 10px;
            font-size: 18px;
            font-weight: bold;
            color: #d72323;
            background-color:  #f5c4c4;;
        }

        &__container{
            font-size: 15px;
            margin: 0px 20px;
            margin-bottom: 10px;

            &__persona{
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding: 10px 50px;

                .persona-titulo{
                    font-weight: bold;
                    font-style: italic;
                }

                .persona-img-container{

                    height: 200px;
                    padding: 10px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    @media(min-width:827px){
                        max-width: 20%;
                    }

                    @media(max-width:827px){
                        width: 80%;
                    }
                }
            }

            #persona1,#persona2,#persona3,#persona4{
                transition: all;
                -webkit-transition: opacity 1s;

            }
        }


    }


}