@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

/***********************************
             HEADER
***********************************/
.main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  padding-top: 4px;
  gap: 1rem;
}
.main-header figure {
  margin-left: 20px;
  height: 100%;
}
.main-header figure img {
  max-width: 90%;
  max-height: 100%;
}
.main-header #menu {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  height: auto;
}
.main-header #menu .fa-bars {
  cursor: pointer;
}
@media (min-width: 991px) {
  .main-header #menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header {
    height: 70px;
  }
  .main-header figure {
    margin-left: 100px;
  }
}
@media (max-width: 900px) {
  .main-header {
    height: 100px;
  }
}

.menu__desplegable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e98d8d;
}
.menu__desplegable ul {
  text-align: center;
  list-style: none; /*previene el estilo por defecto*/
}
.menu__desplegable ul li .menu__desplegable-link {
  font-weight: bold;
  text-decoration: none; /*previene el estilo por defecto*/
  color: #d72323;
  cursor: pointer;
}

/***********************************
             NAV BAR
***********************************/
.nav-bar {
  margin: 10px 0px;
}
.nav-bar__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0;
  list-style: none; /*previene el estilo por defecto*/
}
@media (min-width: 1440px) {
  .nav-bar__nav-list {
    width: 70%;
  }
}
@media (max-width: 1440px) {
  .nav-bar__nav-list {
    width: 80%;
  }
}
.nav-bar__nav-link {
  font-weight: bold;
  text-decoration: none; /*previene el estilo por defecto*/
  color: #d72323;
}
@media (min-width: 1178px) {
  .nav-bar {
    margin-right: 70px;
  }
}

/***********************************
             SEARCH BAR
***********************************/
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  padding-right: 20px;
}
.search-bar__form-container {
  width: 100%;
}
.search-bar__form-search {
  width: 80%;
  height: 36px;
  border: 0px;
  font-size: 15px;
  padding-left: 7px;
}
.search-bar__form-search:hover {
  border: 1px solid red;
}
.search-bar__form-search:focus {
  border: 1px solid red;
}
.search-bar__form-submit {
  cursor: pointer;
  margin-left: 5px;
  height: 36px;
  border: 0px;
  width: auto;
}
.search-bar__form-submit:hover {
  color: red;
}
@media (min-width: 1200px) {
  .search-bar {
    height: 70px;
  }
  .search-bar figure {
    margin-left: 100px;
  }
  .search-bar__carrito-container {
    margin-right: 60px;
  }
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 10px;
  margin-top: 50px;
}
@media (max-width: 991px) {
  footer {
    height: 400px;
  }
}
@media (min-width: 991px) {
  footer {
    height: 100px;
  }
}
footer .footer-subtitle {
  text-align: center;
  font-size: 15px;
  color: #d72323;
  font-weight: bold;
}
footer .footer-row {
  display: flex;
}
@media (min-width: 991px) {
  footer .footer-row {
    flex-direction: row;
  }
}
@media (max-width: 991px) {
  footer .footer-row {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  footer .footer-row .footer-column {
    height: 100px;
  }
}
footer .footer-row .footer-column ul {
  list-style: none;
}
footer .footer-row .footer-column ul li {
  text-align: center;
  cursor: pointer;
  color: #585454;
  font-size: 12px;
}
footer .footer-row .footer-column ul li:hover {
  color: black;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
}

.section-cards__header-titulo {
  text-align: center;
  color: #d72323;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 0 2px 2px #b8b8b8;
}

.contacto-container {
  width: 100%;
}
.contacto-container .contacto-text {
  text-align: center;
  margin: 75px 300px;
  color: #d72323;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
@media (max-width: 1024px) {
  .contacto-container .contacto-text {
    margin: 50px 100px;
  }
}
@media (max-width: 768px) {
  .contacto-container .contacto-text {
    margin: 40px 10px;
  }
}
.contacto-container .contacto-form__div {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 100px;
}
.contacto-container .contacto-form__div .contacto-form {
  position: relative;
  margin: auto;
  border: 1px dotted #d72323;
  border-radius: 10px;
  height: auto;
  padding: 2%;
  width: 100%;
}
.contacto-container .contacto-form__div .contacto-form__title {
  text-align: center;
  padding: 7px;
  font-size: 15px;
  color: #d72323;
  background-color: #f5c4c4;
}
@media (max-width: 768px) {
  .contacto-container .contacto-form__div {
    padding: 0px 10px;
  }
}

/*=============================================
Formulario
=============================================*/
form input, form textarea, form select, form p {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px;
  font-size: 15px;
}

form label {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 0px;
  font-size: 15px;
}

.nosotros {
  margin: 0px 10px;
}
.nosotros-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted #d72323;
  margin-top: 10px;
  margin-bottom: 30px;
}
.nosotros-article__title {
  text-align: center;
  width: 100%;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #d72323;
  background-color: #f5c4c4;
}
.nosotros-article__container {
  font-size: 15px;
  margin: 0px 20px;
  margin-bottom: 10px;
}
.nosotros-article__container__persona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 50px;
}
.nosotros-article__container__persona .persona-titulo {
  font-weight: bold;
  font-style: italic;
}
.nosotros-article__container__persona .persona-img-container {
  height: 200px;
  padding: 10px;
}
.nosotros-article__container__persona .persona-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 827px) {
  .nosotros-article__container__persona .persona-img-container {
    max-width: 20%;
  }
}
@media (max-width: 827px) {
  .nosotros-article__container__persona .persona-img-container {
    width: 80%;
  }
}
.nosotros-article__container #persona1, .nosotros-article__container #persona2, .nosotros-article__container #persona3, .nosotros-article__container #persona4 {
  transition: all;
  -webkit-transition: opacity 1s;
}

.card {
  display: flex;
  height: 400px;
}
.card__image-container {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}
.card__heading {
  font-size: 14px;
}
.card__content {
  text-align: center;
}
.card__footer {
  text-align: center;
}
.card__article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 7px 7px;
  margin: 3px 5px;
}
.card__article:hover {
  box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 1200px) {
  .card__image {
    height: 200px;
  }
  .card__content {
    height: 150px;
    overflow: hidden;
  }
  .card__footer {
    height: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .card {
    /* Cards en escritorio mediano */
  }
  .card {
    height: 500px;
  }
  .card__image {
    height: 250px;
  }
  .card__content {
    height: 200px;
    overflow: hidden;
  }
  .card__footer {
    height: 50px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .card__image {
    height: 200px;
  }
  .card__content {
    height: 150px;
    overflow: hidden;
  }
  .card__footer {
    height: 50px;
  }
}
@media (max-width: 768px) and (min-width: 523px) {
  .card {
    width: 50% !important;
  }
}
@media (max-width: 767px) {
  .card__image {
    height: 250px;
  }
  .card__description {
    display: none;
  }
  .card__content {
    height: 100px;
  }
}

body {
  height: 100%;
  width: 100%;
}
body main {
  min-height: 700px;
  width: 100%;
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-0 {
    display: none;
  }
  main {
    max-width: 1440px;
    margin: auto;
  }
}
/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/
@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-0 {
    display: none;
  }
}
/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/
@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-0 {
    display: none;
  }
}
/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-0 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */