/***********************************
             HEADER
***********************************/

.main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 4px;
    gap: 1rem;


    figure{
        margin-left: 20px;
        height: 100%;
        img{
            max-width: 90%;
            max-height: 100%;
        }
    }

    #menu{
        display: flex;
        justify-content: end;
        margin-right: 30px;
        height: auto;
        

        .fa-bars{
            cursor: pointer;
        }

        @media(min-width:991px){
            display:none;
        }

    }

    @media(min-width:1200px){
        &{height: 70px;}
        & figure{margin-left: 100px;}
    }

    @media(max-width:900px){

            height: 100px;

    }

}

.menu__desplegable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #e98d8d;

    ul{
        text-align: center;
        list-style: none; /*previene el estilo por defecto*/
        li .menu__desplegable-link{
            font-weight: bold;
            text-decoration: none; /*previene el estilo por defecto*/
            color: #d72323;
            cursor: pointer;
        }
    }

}

/***********************************
             NAV BAR
***********************************/

.nav-bar {
    margin: 10px 0px;
    
    &__nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f0f0f0;
        list-style: none;  /*previene el estilo por defecto*/

        @media(min-width:1440px){
            width: 70%;
        }

        @media(max-width:1440px){
            width: 80%;
        }
    }

    &__nav-link {
        font-weight: bold;
        text-decoration: none; /*previene el estilo por defecto*/
        color: #d72323;
    }

    @media(min-width:1178px){
        margin-right: 70px;
    }



}

/***********************************
             SEARCH BAR
***********************************/

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
    padding-right: 20px;

    &__form-container{
        width: 100%;
    }
    &__form-search{
        width: 80%;
        height: 36px;
        border: 0px;
        font-size: 15px;
        padding-left: 7px;

        &:hover{
            border: 1px solid red;
        }
        &:focus{
            border: 1px solid red;
        }
    }
    &__form-submit{
        cursor: pointer;
        margin-left: 5px;
        height: 36px;
        border: 0px;
        width: auto;
        &:hover{
            color: red;
        }

    }

    //Algunos ajustes para pantalla grande
    @media(min-width:1200px){
        &{height: 70px;}
        & figure{margin-left: 100px;}
        &__carrito-container{
            margin-right: 60px;
        }
    }

}
