@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

.alta-form__div {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  margin-top: 5%;
  margin-bottom: 50px;
}
.alta-form__div .alta-form {
  position: relative;
  margin: auto;
  border: 1px dotted var(--main-rustyred);
  border-radius: 10px;
  height: auto;
  padding: 2%;
  width: 100%;
}
.alta-form__div .alta-form__title {
  text-align: center;
  padding: 7px;
  font-size: 15px;
  color: var(--main-rustyred);
  background-color: var(--main-yellow);
}
@media (max-width: 768px) {
  .alta-form__div {
    padding: 0px 10px;
  }
}

/*=============================================
Formulario
=============================================*/
form input, form textarea, form select, form p, form a {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px;
  font-size: 15px;
}

form label {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 0px;
  font-size: 15px;
}

.form__button {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.form__button__grey {
  color: var(--main-violet);
  background-color: var(--main-grey);
}
.form__button__grey:hover {
  background-color: var(--main-yellow);
}

.form__button__violet {
  background-color: var(--main-violet);
  color: var(--main-grey);
}
.form__button__violet:hover {
  background-color: var(--main-rustyred);
}

.form__button__greyviolet {
  border: 1px solid var(--main-violet);
  color: var(--main-violet);
  background-color: var(--main-grey);
}
.form__button__greyviolet:hover {
  background-color: var(--main-yellow);
}

.card {
  display: flex;
  height: 300px;
  color: var(--main-violet);
  border-radius: 10px;
  /*=============================================
  PANTALLA DE ESCRITORIO GRANDE 
  =============================================*/
  /*=============================================
  PANTALLA DE ESCRITORIO MEDIANO 
  =============================================*/
  /*=============================================
  PANTALLA DE TABLET - SMALL 
  =============================================*/
  /*=============================================
  PANTALLA DE PHONES - EXTRA SMALL 
  =============================================*/
}
.card__image-container {
  border-radius: 10px;
  width: 100%;
  background-color: var(--main-grey);
  cursor: pointer;
}
.card__image-container:hover {
  background-color: var(--main-yellow);
}
.card__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 250px;
}
.card__heading {
  font-size: 14px;
}
.card__content {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0.4rem;
  flex-direction: column;
  gap: 0.4rem;
}
.card__content .card__headingfav {
  display: flex;
}
.card__content .card__headingfav .card__heading {
  margin-right: auto;
}
.card__footer {
  text-align: center;
}
.card__article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 7px 7px;
}
@media (min-width: 1200px) {
  .card__image {
    height: 200px;
  }
  .card__content {
    height: 100px;
    overflow: hidden;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .card {
    /* Cards en escritorio mediano */
    height: 350px;
  }
  .card__image {
    height: 250px;
  }
  .card__content {
    height: 100px;
    overflow: hidden;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .card__image {
    height: 200px;
  }
  .card__content {
    height: 150px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .card {
    height: 500px;
  }
  .card__image {
    height: 400px;
  }
  .card__content {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 20%;
  }
}
@media (max-width: 1199px) and (min-width: 1400px) {
  .card {
    width: 20%;
  }
}
@media (max-width: 1399px) and (min-width: 992px) {
  .card {
    width: 25%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .card {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

.contacto-container {
  width: 100%;
  margin-bottom: 50px;
}
.contacto-container .contacto-text {
  text-align: center;
  margin: 75px 300px;
  color: #d72323;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
@media (max-width: 1024px) {
  .contacto-container .contacto-text {
    margin: 50px 100px;
  }
}
@media (max-width: 768px) {
  .contacto-container .contacto-text {
    margin: 40px 10px;
  }
}
.contacto-container .contacto-form__div {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 100px;
}
.contacto-container .contacto-form__div .contacto-form {
  position: relative;
  margin: auto;
  border: 1px dotted #d72323;
  border-radius: 10px;
  height: auto;
  padding: 2%;
  width: 100%;
}
.contacto-container .contacto-form__div .contacto-form__title {
  text-align: center;
  padding: 7px;
  font-size: 15px;
  color: #d72323;
  background-color: var(--main-yellow);
}
@media (max-width: 768px) {
  .contacto-container .contacto-form__div {
    padding: 0px 10px;
  }
}
.contacto-container button {
  width: 100%;
}
.contacto-container button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

/*=============================================
Formulario
=============================================*/
form input, form textarea, form select, form p, form a {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px;
  font-size: 15px;
}

form label {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 0px;
  font-size: 15px;
}
form label span {
  color: #d72323;
  font-size: 12px;
}

form .form-error {
  border: 1px solid #d72323;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: var(--main-grey);
  padding-top: 10px;
}
@media (max-width: 991px) {
  footer {
    height: 400px;
  }
}
@media (min-width: 991px) {
  footer {
    height: 100px;
  }
}
footer .footer-subtitle {
  text-align: center;
  font-size: 15px;
  color: var(--main-rustyred);
  font-weight: bold;
}
footer .footer-row {
  display: flex;
}
@media (min-width: 991px) {
  footer .footer-row {
    flex-direction: row;
  }
}
@media (max-width: 991px) {
  footer .footer-row {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  footer .footer-row .footer-column {
    height: 100px;
  }
}
footer .footer-row .footer-column ul {
  list-style: none;
}
footer .footer-row .footer-column ul li {
  text-align: center;
  cursor: pointer;
  color: var(--main-violet);
  font-size: 12px;
}
footer .footer-row .footer-column ul li:hover {
  color: var(--main-black);
}

.container {
  border: 1px dotted #d72323;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
}
.container__text {
  text-align: center;
  font-style: italic;
  color: #d72323;
  margin-bottom: 10px;
}
.container button {
  width: 100%;
  padding: 10px;
}
.container button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

/***********************************
             HEADER
***********************************/
.main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding-top: 4px;
  gap: 1rem;
}
.main-header .figure-logotipo {
  margin-left: 20px;
  height: 100%;
}
.main-header .figure-logotipo .logotipo {
  max-width: 90%;
  max-height: 100%;
}
.main-header .menu {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  height: auto;
  color: var(--main-rustyred);
  cursor: pointer;
}
.main-header .menu .fa-bars {
  cursor: pointer;
}
@media (min-width: 991px) {
  .main-header .menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header {
    height: 70px;
  }
  .main-header figure {
    margin-left: 100px;
  }
}
@media (max-width: 900px) {
  .main-header {
    height: 100px;
  }
}

.menu__desplegable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-violet);
}
.menu__desplegable ul {
  padding: 10px 0px;
  text-align: center;
  list-style: none; /*previene el estilo por defecto*/
}
.menu__desplegable ul li .menu__desplegable-link {
  font-weight: bold;
  text-decoration: none; /*previene el estilo por defecto*/
  color: var(--main-grey);
  cursor: pointer;
}

/***********************************
             NAV BAR
***********************************/
.nav-bar {
  margin: 10px 0px;
}
.nav-bar__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  list-style: none; /*previene el estilo por defecto*/
}
@media (min-width: 1440px) {
  .nav-bar__nav-list {
    width: 70%;
  }
}
@media (max-width: 1440px) {
  .nav-bar__nav-list {
    width: 80%;
  }
}
.nav-bar__nav-link {
  font-weight: bold;
  text-decoration: none; /*previene el estilo por defecto*/
  color: var(--main-rustyred);
}
@media (min-width: 1178px) {
  .nav-bar {
    margin-right: 70px;
  }
}

/***********************************
             SEARCH BAR
***********************************/
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  padding-right: 20px;
}
.search-bar__form-container {
  width: 100%;
}
.search-bar__form-search {
  width: 80%;
  height: 36px;
  border: 0px;
  font-size: 15px;
  padding-left: 7px;
}
.search-bar__form-search:hover {
  border: 1px solid var(--main-rustyred);
}
.search-bar__form-search:focus {
  border: 1px solid var(--main-rustyred);
}
.search-bar__form-submit {
  cursor: pointer;
  margin-left: 5px;
  height: 36px;
  border: 0px;
  width: auto;
}
.search-bar__form-submit:hover {
  color: var(--main-rustyred);
}
@media (min-width: 1200px) {
  .search-bar {
    height: 70px;
  }
  .search-bar figure {
    margin-left: 100px;
  }
  .search-bar__carrito-container {
    margin-right: 60px;
  }
}
.search-bar__carrito-container {
  color: var(--main-rustyred);
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 50px;
}

.section-cards__header {
  height: 300px;
  background-color: var(--main-yellow);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.section-cards__header .section-cards__header-titulo {
  text-align: center;
  color: var(--main-rustyred);
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 0 2px 2px #b8b8b8;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  margin-left: 7rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .section-cards__header .section-cards__header-titulo {
    margin-left: 2rem;
  }
}
@media (max-width: 767px) {
  .section-cards__header .section-cards__header-titulo {
    margin: auto;
  }
}
.section-cards__header-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7rem;
  animation: wipe-in-up 0.5s ease-out;
  height: 200px;
}
.section-cards__header-img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
@media (max-width: 991px) and (min-width: 768px) {
  .section-cards__header-img-container {
    margin-right: 3rem;
  }
}
@media (max-width: 767px) {
  .section-cards__header-img-container {
    display: none;
  }
}
@media (max-width: 767px) {
  .section-cards__header {
    height: 150px;
    text-align: center;
  }
}

@keyframes wipe-in-up {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
[transition-style="in:wipe:up"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both;
}

.nosotros {
  margin: 50px 10px;
}
.nosotros-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted #d72323;
  margin-top: 10px;
  margin-bottom: 30px;
}
.nosotros-article__title {
  text-align: center;
  width: 100%;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #d72323;
  background-color: var(--main-yellow);
}
.nosotros-article__container {
  font-size: 15px;
  margin: 0px 20px;
  margin-bottom: 10px;
}
.nosotros-article__container__persona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 50px;
}
.nosotros-article__container__persona .persona-titulo {
  font-weight: bold;
  font-style: italic;
}
.nosotros-article__container__persona .persona-img-container {
  height: 200px;
  padding: 10px;
}
.nosotros-article__container__persona .persona-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 827px) {
  .nosotros-article__container__persona .persona-img-container {
    max-width: 20%;
  }
}
@media (max-width: 827px) {
  .nosotros-article__container__persona .persona-img-container {
    width: 80%;
  }
}
.nosotros-article__container #persona1, .nosotros-article__container #persona2, .nosotros-article__container #persona3, .nosotros-article__container #persona4 {
  transition: all;
  -webkit-transition: opacity 1s;
}

.detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detalle-layout-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-grey);
}
@media (max-width: 991px) {
  .detalle-layout-1 {
    flex-direction: column;
    width: 80%;
  }
}
.detalle-layout-1 .detalle-container-left .detalle-imagen-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.detalle-layout-1 .detalle-container-left .detalle-imagen-container .detalle-imagen {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 600px;
}
@media (max-width: 768px) {
  .detalle-layout-1 .detalle-container-left .detalle-imagen-container .detalle-imagen {
    max-height: 500px;
  }
}
@media (max-width: 500px) {
  .detalle-layout-1 .detalle-container-left .detalle-imagen-container .detalle-imagen {
    margin: 30px;
    height: 300px;
  }
}
@media (min-width: 1100px) {
  .detalle-layout-1 .detalle-container-left .detalle-imagen-container {
    padding: 80px 120px 80px 15px;
  }
}
@media (max-width: 1099px) and (min-width: 992px) {
  .detalle-layout-1 .detalle-container-left .detalle-imagen-container {
    padding: 30px 100px 30px 15px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .detalle-layout-1 .detalle-container-left .detalle-imagen-container {
    padding: 0px 80px;
  }
}
.detalle-layout-1 .detalle-container-right {
  border-radius: 10px;
  background-color: var(--main-grey);
  border: none;
  padding: 5rem 2rem;
  text-align: center;
}
@media (max-width: 991px) {
  .detalle-layout-1 .detalle-container-right {
    margin-right: 0px;
    width: 80%;
  }
}
.detalle-layout-1 .detalle-container-right .detalle-nombre {
  font-weight: bold;
  color: var(--main-rustyred);
}
.detalle-layout-1 .detalle-container-right .detalle-precio {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}
.detalle-layout-1 .detalle-container-right .detalle-precio span {
  font-size: 15px;
  color: rgb(101, 160, 101);
}
.detalle-layout-1 .detalle-container-right .detalle-descripcion-container {
  height: 100px;
}
.detalle-layout-1 .detalle-container-right .detalle-descripcion-container .detalle-descripcion {
  height: 110px;
  overflow-y: auto;
}
.detalle-layout-1 .detalle-container-right label .detalle-cantidad {
  margin-left: 3%;
  width: 10%;
  margin-bottom: 10px;
}
.detalle-layout-1 .detalle-container-right .detalle-descripcion-container {
  margin-top: 3px;
}
.detalle-layout-1 .detalle-container-right .detalle-botones {
  margin-top: 10%;
}
.detalle-layout-1 .detalle-container-right .detalle-botones button {
  margin-top: 1rem;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.cart {
  padding: 5rem;
}
@media (max-width: 767px) {
  .cart {
    padding: 10px 20px;
  }
}
@media (max-width: 368px) {
  .cart {
    font-size: 14px;
  }
}
.cart .product-article {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  margin: 2rem 0px;
  border-radius: 20px;
}
@media (max-width: 991px) {
  .cart .product-article {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .cart .product-article {
    margin: 0px;
  }
}
.cart .product-article-img-container {
  height: 250px;
}
.cart .product-article-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 250px;
  padding: 1rem 2rem;
}
.cart .product-article-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}
@media (max-width: 991px) {
  .cart .product-article-info {
    padding: 20px;
  }
}
.cart .product-article-info .product-article-title {
  padding: 0.5rem 0px;
  color: #d72323;
  font-weight: bold;
}
.cart .product-article-info .product-article-precio span {
  font-weight: bold;
}
.cart .product-article-info .product-article-cantidad input {
  padding: 0.3rem;
  width: 50px;
}
.cart .product-article-info .product-article-cantidad span {
  margin-left: 10px;
  color: #d72323;
  font-weight: 300;
}
.cart .product-article .product-article-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .cart .product-article .product-article-buttons {
    flex-direction: row;
    width: 60%;
  }
}
.cart .product-article .product-article-buttons .product-article-button {
  width: 70%;
  border: 1px solid #d72323;
  border-radius: 100px;
  padding: 10px 10px;
  margin-bottom: 10px;
  max-height: 100px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 991px) {
  .cart .product-article .product-article-buttons .product-article-button {
    margin: 0px 2px 10px 0px;
  }
}
.cart .product-article .product-article-buttons .product-article-button:hover {
  background-color: #d7b7b7 !important;
}

.cart-empty {
  text-align: center;
  margin: 75px 300px;
  color: #d72323;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

body {
  height: 100%;
  width: 100%;
}
body main {
  min-height: 700px;
  width: 100%;
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-0 {
    display: none;
  }
  main {
    max-width: 1440px;
    margin: auto;
  }
}
/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/
@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-0 {
    display: none;
  }
}
/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/
@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-0 {
    display: none;
  }
}
/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-0 {
    display: none;
  }
}
body {
  height: 100%;
  width: 100%;
}
body main {
  min-height: 700px;
  width: 100%;
}

:root {
  --main-rustyred: #DD2D4A;
  --main-black: #080705;
  --main-yellow: #FFEECF;
  --main-violet: #5D5179;
  --main-grey: #E6EBE0;
  --main-white: #f8f8f8;
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE 
=============================================*/
/*=============================================
PANTALLA DE ESCRITORIO MEDIANO 
=============================================*/
/*=============================================
PANTALLA DE TABLET - SMALL 
=============================================*/
/*=============================================
PANTALLA DE PHONES - EXTRA SMALL 
=============================================*//*# sourceMappingURL=main.css.map */